*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    background-color: #113893;
}


.interface{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ESTILO DO HEADER */
header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
}

header.rolagem{
    background-color: #FACB03;
    padding: 20px 4%;
}

header.rolagem a{
    color: #113793;
}

header img{
    max-width: 60%;
    cursor: pointer;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

.flex nav a:hover{
    transform: scale(1.05);
    
}

header .btn-contato button{
    width: 140px;
    height: 50px;
}

header .btn-contato button{
    font-size: 18px;
    background-color: #113793;
    border: 1px solid #FACB03;
    color: white;
    cursor: pointer;
    transition: .5s;
}

header .btn-contato button:hover{
    background-color: #113793;
    color: #FACB03; 
    border: 1px solid #113793;
}

/* ESTILO HERO */
.hero-site{
    height: 100vh;
    background-image: url(../images/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.hero-site .interface{
    display: flex;
    align-items: center;
    height: 100%;
}

.hero-site .txt-hero h1{
    font-size: 4em;
    line-height: 70px;
    font-weight: 500;
}

.hero-site .txt-hero p{
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

 .hero-site button{
    width: 220px;
    height: 60px;
    font-size: 18px;
    background-color: #FACB03;
    border: 1px solid #113793;
    color: #113793;
    cursor: pointer;
    transition: .5s;
}

.hero-site button:hover{
    background-color: #FACB03;
    color: #113793; 
    border: 1px solid #FACB03;
}

/* ESTILO AJUDAMOS */

.ajudamos{
    padding: 60px 0;
    background-color: #FACB03;
}

.ajudamos .titulo{
    text-align: center;
    margin-bottom: 20px;
}

.ajudamos .titulo h1{
    font-size: 30px;
    margin-bottom: 10px;
}

.ajudamos .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    margin-bottom: 60px;
}

/* ESTILO NOSSOS BENEFICIOS*/
section.produtos{
    padding: 40px 4%;
}

section.produtos .flex{
    display: flex;
    gap: 100px;
    justify-content: space-between;
}

.produtos .titulo{
    text-align: center;
}

.produtos .produtos-box{
    color: #FACB03;
    padding: 40px;
    border-radius: 20px;
    margin-top: 20px;
    transition: .2s;
}

.produtos .produtos-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #FACB03;
}

.produtos .produtos-box i{
    font-size: 50px;
    color: #FACB03;
}

.produtos .produtos-box h3{
    font-size: 28px;
    margin: 15px 0;
}

.produtos .produtos-box p {
    margin: 15px 0; /* Adicione uma margem para separar os elementos */
}

/* Casos de Sucesso */
.titulo-depoi .titulo{
    text-align: center;
    margin-bottom: 20px;
    color: #FACB03;
}

.depoimentos{
    width: 100%;
    padding: 10px 20px;

    max-width: 900px;
    position: relative;

    overflow: hidden;
    background-color: #FACB03;

    margin: auto;
    margin-bottom: 40px;

    border-radius: 50px;
}

.depoimentos .slide{
    padding: 50px 60px;
}

.depoimentos .slide:active{
    cursor: grabbing;
}

.depoimentos i{
    font-size: 70px;
    color: #113793;
}

.depoimentos p.depoi-txt{
    font-weight: 300;
    margin-bottom: 40px;
}

.slide .person{
    display: flex;
    align-items: center;
    gap: 20px;
}

.slide .person img{
    width: 80px;
    height: 80px;
}

.slide .person p.nome-person{
    font-size: 15px;
    font-weight: 600;
}

.slide .person p.func-person{
    font-size: 14px;
}

/* ESTILO SOLICITAÇÃO */
.container {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.formulario {
    max-width: 400px;
    margin: 40px;
}

.formulario h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.formulario input, .formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.formulario button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario button:hover {
    background-color: #0056b3;
}

.imagem img {
    max-width: 300px;
    border-radius: 8px;
}

/* ESTILO RODAPÉ */
footer{
    background-color: #FACB03;
}

footer .flex{
    padding: 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

footer .line-footer{
    padding: 2px 0;
}

footer .line-footer img{
    max-width: 100px; 
}

.btn-social button{
    width: 30px;
    height: 60px;
    border-radius: 40%;
    border: none;
    background-color: #FACB03;
    color: #113793;
    font-size: 20px;
    cursor: pointer;
    transition: 1.2s;
}
